{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "singleQuote": true,
        "semi": true,
        "trailingComma": "all"
      }
    }
  ]
}
